<a href="https://colab.research.google.com/github/JoshuaDiazAtencia/CPEN65-1/blob/main/Array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
animals = ["cat", "dog", "fish"]
x = animals[0]
y = animals[1]
z = animals[2]
print("Array [0]=", x)
print("Array [1]=", y)
print("Array [2]=", z)

Array [0]= cat
Array [1]= dog
Array [2]= fish

In [ ]:
#modifying the element/s in an Array
animals = ["cat", "dog", "fish"]
animals[0] = "monkey"
x = animals[0]
print("Array [0]=",x)
print(animals)

Array [0]= monkey
['monkey', 'dog', 'fish']

In [ ]:
#length of an Array
animals = ["monkey", "dog", "fish", "cat", "bird"]
v = len(animals)
print(v)

5

In [ ]:
#looping Array elements
animals = ["monkey", "dog", "fish", "cat", "bird"]
for x in animals:
  print(x)

monkey
dog
fish
cat
bird

In [ ]:
animals = ["monkey", "dog", "fish", "cat", "bird"]
for index, val in enumerate(animals):
  print(index,val)

0 monkey
1 dog
2 fish
3 cat
4 bird

In [ ]:
#Adding elements in the Array
animals = ["monkey", "dog", "fish", "cat", "bird"]
animals.append("lion")
print(animals)

['monkey', 'dog', 'fish', 'cat', 'bird', 'lion']

In [ ]:
#write a python program to insert new item ("11") before the second element in an existing array. Original array: number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
number.insert(1,11)
print(number)

[1, 11, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#removing an element in the array
number = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
number.pop(1)
print(number)

[1, 3, 4, 5, 6, 7, 8, 9, 10]